:root {
    /* Main Theme */
    --links-color: #293241; 

    /* Fonts */
    --main-font: "Poppins", sans-serif; 
    --heading-font: "Poppins", sans-serif;

    /* Text sizes */
    --base-font-size: 16px;
    --heading-font-size: 24px;
    --note-size: 13px; 

    /* Other sizes */
    --max-width: 800px; /* Ancho máximo de contenido */

}


/* Para todos los elementos que no tengan definidas estas propiedades */
*{
	font-family: var(--main-font);
	color: black;
}

html{
	height:100%;
	background-color: #ECEEFF; 
    background-size: 200% 200%;
}

body {
    font-size: var(--base-font-size);
    font-weight: bold;
    margin: 0;
    padding: 0;
    height: 100%; 
}

h1, h2, h3, h4, h5, h6 {
    font-size: var(--heading-font-size);
    margin-top: 0;
}

/* BOTONES */
/* Botones de acción normal */
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    max-width: max-content;
    color: white; 
    background-color: #757CAF; 
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    padding: 0.5em 1em;
    margin: 0.5em;
    cursor: pointer;
}

/* Botones de eliminar */
button.delete,
input[type="submit"].delete,
input[type="reset"].delete,
input[type="button"].delete {
    max-width: max-content;
    color: white; 
    background-color:#C35460; 
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    padding: 0.5em 1em;
    margin: 0.5em;
    cursor: pointer;
}

/* Estilos al pasar el mouse sobre los botones */
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background-color: #333; 
}

/* Estilos al pasar el mouse sobre los botones de eliminar */
button.delete:hover,
input[type="submit"].delete:hover,
input[type="reset"].delete:hover,
input[type="button"].delete:hover {
    background-color: darkred;
}

button.like-button{
	background-color: #FF5733;
    border-radius: 100%; 
    padding: 0.4em 0.5em; 
}

button i {
	color: white;
}

/* Selección entre varias opciones */
select, input{
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.box {
    position: relative;
    padding: 2em;
    margin: 0.5em;
    background-color: white;
    height: match-parent;
    border: none;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.inner {
    position: relative;
    padding: 2em;
    margin: 0.5em;
    background-color: #fffff0;
    height: match-parent;
    border: none;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

table {
    width: 50%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.required-mark {
    color: red;
}

/* FORMULARIO */

fieldset {
    border: 0.1em dashed #ccc; 
    border-radius: 1em;
    position: relative;    
}

legend {
    margin: 0 auto 10px;
    padding: 0 1em;
    text-align: center;
    border: none;
    font-weight: bold;
}

label {
    display: block;
    font-weight: bold;
    padding: 0.3em;
    margin: 0.7em 0;
}

label.form-option {
    font-weight: normal;
}

input{
    display: block;
    padding: 0.3em;
    margin: 0.3em 0;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
}

input[type="checkbox"], [type="radio"]{
    display: inline
}

textarea {
    display: block;
    height: 8em;
    width: 100%;
    resize: none;
    margin-right: 1em;
}

/* MENSAJES */
/* Estilos para mensajes de error */
.error-message {
    color: black; 
    background-color: #ffcccc; /* Fondo rojo pastel */
    border: 1px solid #cc6666; /* Borde rojo pastel oscuro */
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para mensajes de confirmación */
.confirmation-message {
    color: black; 
    background-color: #ccffcc; /* Fondo verde pastel */
    border: 1px solid #66cc66; /* Borde verde pastel oscuro */
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para mensajes de advertencia */
.warning-message {
    color: black; 
    background-color: #ffffcc; /* Fondo amarillo pastel */
    border: 1px solid #cccc66; /* Borde amarillo pastel oscuro */
    padding: 10px;
    border-radius: 5px;
}

.note{
	font-style: italic; 
    font-size: var(--note-size); 
    color: darkslateblue; 
}

.center-message {
    text-align: center;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.center-message i {
    font-size: 2em;
    margin-bottom: 0.5em; 
}

/*header*/
.topnav {
    overflow: hidden;
    background-color: #424B7A;
    /*position: fixed;*/ 
    z-index: 3; 
    top:0; 
    width:100%;
    margin-bottom: 3em;
  }
  
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 1em;
    font-size: 17px;
    height: 100%;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .topnav span{
      display: block;
      text-align: center; 
  }
  
  .topnav a span, .topnav a i{
      color: inherit;
  }
  
  /*footer*/
  
  .bottomnav {
    overflow: hidden;
    background-color: #424B7A;
    text-align: center;
    /*position: fixed;*/ 
    z-index: 3;
    bottom: 0;
    width:100%;
    margin-bottom: 3em;
  }
  
  
/* MAIN */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    margin-top: 5em;
}

